a {
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    box-shadow: 2px 1px 2px #eee;
    height: auto;
}

#title{
    width: 150px;
    height: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

#optionsDiv{
    display: flex;
    justify-content: space-between;
}

.options{
    padding: 20px;
    color: #666;
}

.options:hover{
    color: #387ed1;
}

.mainbody{
    display: flex;
    justify-content: center;
}

#landingImage{
    margin: 10px;
    width: 65%;
}

#mainTitle{
    font-size: 40px;
    font-weight: 750;
    text-align: center;
    margin-bottom: 0px;
    padding: 5px;
}

#description{
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-top: 0px;
    padding: 5px;
}

#button{
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(56 126 209);
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover{
    background-color: #222;
}